            body{
            padding-top:10px;
            padding-left:10px;
            padding-right:10px;
/*             max-width:640px; */
            font-family:arial;
            margin:auto;
            font-size:200%;
            text-size-adjust: 100%; 
            -ms-text-size-adjust: 100%; 
            -moz-text-size-adjust: 100%; 
            -webkit-text-size-adjust: 100%;
            }
            a{text-decoration: none;color:#537EEE;}
            h1 {
            font-size:150%;
            }
            h2 {
            font-size:150%;
            }
            .papervenue{
            padding-right:10px;
            float:left;
            }
            .toggler{font-size:100%;}

            .flagtheory{
            padding-right:10px;
            float:left;
            color:#DC267F;
            }
            .flagneuro{
            padding-right:10px;
            float:left;
            color:#785EF0;
            }
            .flagimmune{
            padding-right:10px;
            float:left;
            color:#FFB000;
            }
            .paperyear{
            padding-right:10px;
            padding-bottom:20px;
            clear:both;
            }
            .papernum{float:left;padding-right:8px;}
            .content{
            padding-top:20px;
            }
            td{padding:10px;
            font-weight:normal;
            text-align:left;
            vertical-align:top;
            }
            th{padding:10px;
            text-align:left;
            vertical-align:top;
            cursor:pointer;
            }
            .journallist .papervenue{
                font-style:italic;
            }
            
