

body {
    text-align: center;
    font-family:arial;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    max-width: 500px;  /* Adjusted for square plots */
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    font-size:150%
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls > div {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    width: 50px;
}

.plot-container {
    margin-bottom: 20px;  /* Add space between plots */
}

.plot {
    width: 100%;  /* Make plots full width */
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.x-label {
    font-weight: bold;
    cursor: pointer;
}

.x-label:hover {
    text-decoration: underline;
}
